//
  This is a holding file for hacks / experiments. Its contents will be appended
  to application.css, overriding everything that comes before it.  Using this
  file helps us keep the global styles clean and maintainable. Do your
  colleagues (and future self) a favor by throughly documenting each selector.  

//
  Placeholder style for Style Guide
    @targets  style-guide.html
    @added    10/3/13
.noise-png
  background: #fee url(noise-png())
  padding: 20px

.retina-background
  +background-image-retina("kitten", ".jpg")
  height: 300px

.retina-sprites
