/*!
  STYLEGUIDE
  -----------------------------------------------------------------------------

@import compass
@import base/config
@import base/helpers
@import base/grid

.section-styleguide
  border-bottom: 1px solid $color-border
  padding-bottom: $space-v * 2 - 1px
  padding-top: $space-v * 2

  &:last-child
    border: 0
    padding-bottom: $space-v

// Grid classes
=grid-classes($columns, $nested: false)
  $span: 0
  @if $nested == false
    @while $span <= $columns
      .c#{$columns}-s#{$span}
        +grid($span, $columns)

      .p#{$columns}-s#{$span}
        +grid-push($span, $columns)
      $span: $span + 1
  @else
    @while $span <= $columns
      .c#{$columns}-n#{$nested}-s#{$span}
        +grid($span, $columns, $nested)

      .p#{$columns}-n-s#{$span}
        +grid-push($span, $columns, $nested)
      $span: $span + 1

+grid-classes(12)
+grid-classes(6)
+grid-classes(4, 8)
+grid-classes(3, 4)
+grid-classes(3, 9)

.grid-row
  +grid-row

.grid-row-nested
  +grid-row(nested)

//
  Base
  -----------------------------------------------------------------------------

//
  Colors
  ------

.colors-styleguide
  margin-bottom: $space-v

  .color
    display: inline-block
    height: $space-v * 2
    line-height: $space-v *2
    margin-right: 10px
    text-align: center
    width: 100px

  .black
    background: $gray-void
    color: #fff
  .gray-void
    background: $gray-void
    color: #fff
  .gray-shale
    background: $gray-shale
    color: #fff
  .gray-steel
    background: $gray-steel
    color: #fff
  .gray-silver
    background: $gray-silver
  .gray-rain
    background: $gray-rain
  .gray-smoke
    background: $gray-smoke
  .gray-fog
    background: $gray-fog
  .white
    background: $white

//
  Grid
  ----

.grid-styleguide
  +clearfix
  background: rgba(0, 0, 255, .05)

  [class^=c]
    background: rgba(0, 0, 255, .1)
    min-height: $space-v * 2
    line-height: $space-v * 2
    text-align: center

  .grid-row
    margin: $space-v 0

  .grid-row-nested
    padding: $space-v 0

//
  Utility
  -----------

@import sprites/puppy/*.png
@import sprites/puppy_2x/*.png

.retina-background
  +background-image-retina("example", ".png")
  height: 100px
  margin-bottom: $space-v*4 - 100px

.retina-sprites
  +all-retina-sprites($puppy-sprites, $puppy_2x-sprites)
  font-size: 0
  line-height: 0
  margin-bottom: $space-v*4 - 100px

  .sprite
    display: inline-block
    height: 100px
    margin-right: 10px
    width: 100px

.noise-png
  background: #fee url(noise-png())
  height: $space-v * 2

//
  Vertical Rhythm

.block-styleguide
  background: $color-background
  margin-top: $space-v
  padding: $space-v $space-h
