!!! 5
%html(lang='en' class='no-js')

  = partial :head

  %body{:class => current_page.data.page_class, :id => current_page.data.page_id}

    = yield_content :before_content
    = yield
    = yield_content :after_content
