!!! 5
%html(lang='en' class='no-js')

  = partial :head

  %body{:class => current_page.data.page_class, :id => current_page.data.page_id}

    #page

      #page-wrap

        #page-content
          = yield_content :before_content
          = yield
          = yield_content :after_content

      #page-footer
        .container
          %p Made with love and tequila.
