//
  Color
  -----------------------------------------------------------------------------

$black:       #000
$gray-void:   #222
$gray-shale:  #444
$gray-steel:  #777
$gray-silver: #aaa
$gray-rain:   #ccc
$gray-smoke:  #eee
$gray-fog:    #f3f3f3
$white:       #fff

// Text
$color-text:        $gray-shale
$color-text-light:  $gray-steel
$color-heading:     $gray-shale
$color-anchor:      #04f

// Layout
$color-border:      $gray-rain
$color-background:  $gray-fog

// Misc
$color-selection:   #ff9

//
  Font Family
  -----------------------------------------------------------------------------

$font-family-sans:  "Helvetica Neue", Arial, sans-serif
$font-family-serif: Georgia, "Times New Roman", Times, serif
$font-family-micro: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$font-family-mono:  "Bitstream Vera Sans Mono", Consolas, Courier, monospace

//
  Font Size
  -----------------------------------------------------------------------------

$font-size-micro:     12px
$font-size-body:      14px
$font-size-headline:  24px
$font-size-tagline:   18px
$font-size-huge:      36px

//
  Spacing and Rhythm
  -----------------------------------------------------------------------------

$line-height:   24px
$space-h:       32px // horizontal spacing
$space-v:       24px // vertical spacing

//
  Visual Enhancements
  -----------------------------------------------------------------------------

$shadow-rgba:         rgba(0, 0, 0, .25)
$shadow-rgba-dark:    rgba(0, 0, 0, .45)
$border-radius:       4px
$border-radius-large: 8px
