//
  Grid
  -----------------------------------------------------------------------------

$grid-columns: 12

// Add up to 100%
$grid-ratio-columns: 70%
$grid-ratio-outer: 10%
$grid-ratio-gutters: 20%

// Defaults
$grid-gutter-width: $grid-ratio-gutters / ($grid-columns - 1)
$grid-column-width: $grid-ratio-columns / $grid-columns
$grid-outer-width: $grid-ratio-outer / 2

@function grid-gutter-nested-ratio($columns, $nested)
  $nested-width: grid-column-width($nested, $grid-columns, $grid-columns)
  $nested-gutters: ($nested - 1) * $grid-gutter-width
  @return $nested-gutters / $nested-width * 100% / ($nested / $columns)

@function grid-gutter-width($columns, $nested)
  @if $nested == $grid-columns
    @return $grid-gutter-width
  @else
    @return grid-gutter-nested-ratio($columns, $nested) / ($columns - 1)

@function grid-column-width($span, $columns, $nested)
  $gutter-width: $grid-ratio-gutters
  $column-width: $grid-ratio-columns
  @if $nested != $grid-columns
    $gutter-width: grid-gutter-nested-ratio($columns, $nested)
    $column-width: 100% - $gutter-width
  $gutter-width: $gutter-width / ($columns - 1) * ($span - 1)
  $column-width: $column-width / $columns * $span
  @return $column-width + $gutter-width

=grid-row
  +clearfix

  > *:first-child
    margin-left: $grid-ratio-outer / 2

=grid-row-nested
  +clearfix

  > *:first-child
    margin-left: 0

=grid-column
  float: left

=grid($span, $columns: $grid-columns, $nested: $grid-columns)
  +grid-column
  margin-left: grid-gutter-width($columns, $nested)
  width: grid-column-width($span, $columns, $nested)

=grid-push($span, $columns: $grid-columns, $nested: $grid-columns)
  $gutter-width: grid-gutter-width($columns, $nested)
  $width: grid-column-width($span, $columns, $nested) + $gutter-width
  margin-left: $width + $gutter-width

  &:first-child
    @if $nested == $grid-columns
      margin-left: $width + $grid-outer-width
    @else
      margin-left: $width
