//
  Grid
  -----------------------------------------------------------------------------

//
  Config
  ------

$grid-columns: 12
$grid-ratio-columns: 78%
$grid-ratio-gutters: 22%
$grid-ratio-outer: 10%

//
  Mixins
  ------

=grid-row($type: default)
  +clearfix

  @if $type == default
    padding-left: $grid-outer-width
    padding-right: $grid-outer-width
  @else
    padding-left: 0
    padding-right: 0

  > *:first-child
    margin-left: 0

=grid-column
  float: left

=grid($span, $columns: $grid-columns, $original: $grid-columns)
  +grid-column
  margin-left: grid-gutter-width($columns, $original)
  width: grid-column-width($span, $columns, $original)

=grid-push($span, $columns: $grid-columns, $original: $grid-columns)
  $gutter-width: grid-gutter-width($columns, $original)
  $width: grid-column-width($span, $columns, $original) + $gutter-width
  margin-left: $width + $gutter-width

  &:first-child
    margin-left: $width !important

//
  Calculations
  ------------

$grid-gutter-width: $grid-ratio-gutters / ($grid-columns - 1)
$grid-column-width: $grid-ratio-columns / $grid-columns
$grid-outer-width: $grid-ratio-outer / 2

@function grid-ratio-gutters-partial($columns, $original)
  $partial-width: grid-column-width($original, $grid-columns, $grid-columns)
  $partial-gutters: ($original - 1) * $grid-gutter-width
  @return $partial-gutters / $partial-width * 100% / ($original / $columns)

@function grid-gutter-width($columns, $original)
  @if $original == $grid-columns
    @return $grid-gutter-width
  @else
    @return grid-ratio-gutters-partial($columns, $original) / ($columns - 1)

@function grid-column-width($span, $columns, $original)
  $gutter-width: $grid-ratio-gutters
  $column-width: $grid-ratio-columns
  @if $original != $grid-columns
    $gutter-width: grid-ratio-gutters-partial($columns, $original)
    $column-width: 100% - $gutter-width
  $gutter-width: $gutter-width / ($columns - 1) * ($span - 1)
  $column-width: $column-width / $columns * $span
  @return $column-width + $gutter-width
