//
  Containers
  -----------------------------------------------------------------------------

.section
  @extend %clearfix
  width: 100%

.container
  @extend %clearfix
  margin: 0 auto

  // Fluid width
  max-width: 1200px
  padding: 0 5%
  width: 100%

  // Fixed width
  // padding: 0 $space-h;
  // width: 1000px - ($space-h * 2);

.block
  @extend %clearfix

//
  Grid
  -----------------------------------------------------------------------------

$grid-columns: 12
$grid-column-width: 80% / $grid-columns
$grid-gutter-width: 20% / ($grid-columns - 1)

.grid,
.grid-row
  @extend %clearfix
  clear: both
  display: block
  text-align: left
  width: 100%

.grid-column
  float: left
  margin-left: $grid-gutter-width / 2
  margin-right: $grid-gutter-width / 2

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

@function grid($columns)
  @return ($grid-column-width * $columns) + ($grid-gutter-width * ($columns - 1))

=grid($columns)
  width: grid($columns)
