//
  Blank Canvas
  -----------------------------------------------------------------------------

*
  +box-sizing(border-box)

html,
button,
input,
select,
textarea
  color: $color-text

html
  font: #{$font-size-body}/#{$line-height} $font-family-sans

\::-moz-selection
  background: $color-selection
  color: #000
  text-shadow: none

\::selection
  background: $color-selection
  color: #000
  text-shadow: none

//
  Tags
  -----------------------------------------------------------------------------

h1,
h2,
h3,
h4
  font: normal #{$font-size-huge}/1 $font-family-sans

h1
  line-height: ceil($font-size-huge*1.2)
  padding-top: $line-height*2 - ceil($font-size-huge*1.2)

h2
  font-size: $font-size-headline
  line-height: ceil($font-size-headline*1.2)
  padding-top: $line-height*2 - ceil($font-size-headline*1.2)

h3
  font-size: $font-size-large
  line-height: ceil($font-size-large*1.2)
  padding-top: $line-height*2 - ceil($font-size-large*1.2)

h4
  font-size: $font-size-medium
  line-height: $line-height
  padding-top: $line-height

a
  color: $color-anchor
  text-decoration: none

  &:hover
    color: lighten($color-anchor, 10%)

  p &:hover
    text-decoration: underline

ol,
ul
  padding: 0 0 0 $space-h

  nav &
    +naked-list

blockquote
  color: $color-text-light
  font-family: $font-family-serif
  margin-left: $space-h
  margin-right: $space-h

code
  background: $white
  border: 1px solid $color-border
  border-radius: $border-radius
  font-size: $font-size-small
  padding: 1px 3px

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical

audio,
canvas,
embed,
img,
object,
video
  max-width: 100%
  vertical-align: middle

//
  Vertical Rhythm
  -----------------------------------------------------------------------------

%block,
p, ul, ol,
pre, blockquote,
form, table,
h1, h2, h3, h4
  display: block
  margin-top: $space-v
  margin-bottom: $space-v

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

=block
  @extend %block

%inline,
em, strong,
small, code, sup, sub
  display: inline
  line-height: 1

=inline
  @extend %inline

//
  Containers
  -----------------------------------------------------------------------------

.section
  +clearfix
  width: 100%

.container
  +clearfix
  margin: 0 auto

  // Fluid width
  max-width: 1200px
  padding: 0 $space-h
  width: 100%

  // Fixed width
  // padding: 0 $space-h;
  // width: 1000px - ($space-h * 2);

.block
  +block
  +clearfix
