//
  Blank Canvas
  -----------------------------------------------------------------------------

*
  +box-sizing(border-box)

html,
button,
input,
select,
textarea
  color: $color-text

html
  font: #{$font-size-body}/#{$line-height} $font-family-sans

\::-moz-selection
  background: $color-selection
  color: #000
  text-shadow: none

\::selection
  background: $color-selection
  color: #000
  text-shadow: none

//
  Tags
  -----------------------------------------------------------------------------

h1,
h2,
h3,
h4
  font: normal #{$font-size-huge}/#{$line-height * 2} $font-family-sans

h2
  font-size: $font-size-headline

h3
  font-size: $font-size-tagline

h4
  font-size: $font-size-body
  font-weight: bold
  line-height: $line-height

a
  color: $color-anchor
  text-decoration: none

  &:hover
    color: lighten($color-anchor, 10%)

  p &:hover
    text-decoration: underline

ol,
ul
  padding: 0 0 0 $space-h

  nav &
    @extend %naked-list

blockquote
  color: $color-text-light
  font-family: $font-family-serif
  margin-left: $space-h
  margin-right: $space-h

audio,
canvas,
embed,
img,
object,
video
  max-width: 100%
  vertical-align: middle

//
  Vertical Rhythm
  -----------------------------------------------------------------------------

p, ul, ol,
pre, blockquote,
form, table,
h1, h2, h3, h4, h5
  margin-top: $space-v
  margin-bottom: $space-v

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0
