//
// COLORS
//

// Neutrals
$gray_1: #eee;
$gray_2: #bbb;
$gray_3: #888;
$gray_4: #444;


//
// TYPOGRAPHY
//

// Font Stacks
$helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', Arial, sans-serif;
$georgia: Georgia, Cambria, 'Times New Roman', Times, serif;
$lucida: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Verdana, sans-serif;
$mono: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;

// Sizes
$font_xs: 12px;
$font_sm: 14px;
$font_md: 18px;
$font_lg: 24px;
$font_xl: 36px;


//
// RHYTHM + SPACING
//

$rhythm: 20px;
$gutter: 20px;
$spacer: 10px;
