//
// Grid
// -----------------------------------------------------------------------------

// Poor man's grid
.major
  width: 59%

// golden major
.minor
  width: 37%

// golden minor
.half
  width: 48%

.third
  width: 32%

.quarter
  width: 23.5%

.major, .minor, .half, .third, .quarter
  float: left
  margin-left: 2%
  &:first-child
    margin-left: 0

.major, .minor, .half
  margin-left: 4%
