//
// Container
// -----------------------------------------------------------------------------

// Fluid width
.container
  @extend %clearfix
  margin: 0 auto
  position: relative
  max-width: $screen_lg
  padding: 0 5%
  width: 100%

  // Alternate: fixed width
  // padding: 0 $horizontal;
  // width: $laptop - ($horizontal*2);

//
// Poor Man's Grid
// -----------------------------------------------------------------------------

// Parent element
.group
  @extend %clearfix

// golden major
.major
  width: 58.5%

// golden minor
.minor
  width: 36.5%

.half
  width: 47.5%

.third
  width: 32%

.quarter
  width: 23.5%

.major, .minor, .half, .third, .quarter
  float: left
  margin-left: 2%
  &:first-child
    margin-left: 0

.major, .minor, .half
  margin-left: 5%
