//
// Blank Canvas
// -----------------------------------------------------------------------------

// @args: essential pre sub form table future deprecated
@include normalize(essential pre form table future);

body {
  @include etched-text-dark;
  color: $gray_darker;
  font: #{$em}/#{$vertical} $sans;
}

::-moz-selection { background: $selection; color: #000; text-shadow: none; }
::selection { background: $selection; color: #000; text-shadow: none; }


//
// Tags
// -----------------------------------------------------------------------------

h1, h2, h3, h4 { 
  font-family: $heading;
  font-weight: normal;
  line-height: 1.25; 
}

h1 { font-size: $largest; }
h2 { font-size: $larger; }
h3 { font-size: $large; }
h4 { font-size: $em; }

a {
  color: $anchor;
  text-decoration: none;

  &:hover { color: lighten($anchor, 10%); }
  p &:hover { text-decoration: underline; }
}

ul, ol { padding: 0 0 0 $horizontal; }
nav ul, nav ol { @include flat-list; }

blockquote {
  color: $gray_dark;
  font-family: $serif;
  margin-left: $horizontal;
  margin-right: $horizontal;
}

video, iframe, object, embed, img {
  max-width: 100%;
}


//
// Layout
// -----------------------------------------------------------------------------

.clearfix { @include clearfix; }

.container {
  @extend .clearfix;
  margin: 0 auto;
  position: relative;

  // Fluid width
  max-width: $external;
  padding: 0 5%;
  width: 90%;
}

// Commonly clearfixed
.section, nav, header, footer {
  @extend .clearfix;
}

// Poor man's grid
.major { width: 59.5%; } // golden major
.minor { width: 37.5%; } // golden minor
.half { width: 48.5%; }
.third { width: 32%; }
.quarter { width: 23.5%; }

.major, .minor, .half, .third, .quarter {
  float: left;
  margin-left: 2%;
  &:first-child { margin-left: 0; }
}

.major, .minor, .half { margin-left: 3%; } // more spacing for 2-column layouts


//
// Vertical Rhythm
// -----------------------------------------------------------------------------

p, ul, ol,
pre, blockquote,
form, table,
h1, h2, h3, h4 {
  margin-top: $vertical;
  margin-bottom: $vertical;
}
