---
title: Aloha world!
description: ...
javascripts: ['jquery', 'application']
---

.container
  -# This span serves no purpose except to push %h1 away from its :first-child, marginless state
  %span
  %h1(style="text-align: center;") Aloha world!
  %ul
    %li= link_to "Style Guide", "/styleguide.html"
    %li= link_to "Github", "https://github.com/ezYZ/middleman-template-ezyz"
    %li= link_to "Middleman", "http://middlemanapp.com/helpers/"
    %li= link_to "Padrino", "http://www.padrinorb.com/api/Padrino/Helpers.html"
