---
title: Aloha world!
description: ...
javascripts: ['jquery', 'application']
---

.container
  %h1(style='margin:0;padding:50px 0 0;text-align:center;') Aloha world!
  %p= link_to "Style Guide", "/style-guide.html"
  %p= link_to "Documentation", "https://github.com/ezYZ/middleman-template-ezyz"
