.section-grid
  %h2 Colors
  .colors-styleguide
    - %w|black gray-void gray-shale gray-steel gray-silver gray-rain gray-smoke gray-fog white|.each do |color|
      %div(class="color #{color}") .#{color}
