%h2.grid-row Grid
.grid-styleguide
  .grid-row
    - 12.times do
      .g-1 1
  .grid-row
    - 4.times do
      .g-3 3
  .grid-row
    .g-8-n
      .n-1-p-1 1
      .n-2 2
      .n-3-p-1 3
    .g-4 4
  .grid-row
    .g-2-p-2 2
    .g-2-p-2 2
    .g-2-p-2 2
